{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}
{% block content %}
      <h5 class="header col s12 light">Visit my app written in Flask and Python!</h5>
      <h5>App Features</h5>
      <h6>Emotion App</h6>
      <p>The emotion app represents sentiment analysis. It takes text as an input from the user and detects the emotion by outputting a picture reflecting the emotion.</p>
      <h6>Interactive Visualisation</h6>
      <p>It represents a graph, which the user can interact with by choosing start and end of X range to fit a polynomial.</p>
      <h6>Databases</h6>
      <p>Example of imported databases presented in .json format</p>
      <h6>Please use the site navigation above to access the App feaures</h6>
      </div>
      <div class="row center">
        <a href="https://github.com/mayatp/cloudcomputing_api.git" id="download-button" target="_blank" class="btn-large waves-effect waves-light orange">GitHub Source Code</a>
      </div>
{% endblock %}
